---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À Propos | Na'el Benaïssa" description="À Propos">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                    title="À Propos"
                    tagline="Merci d'être passé par ici. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
            >
            </Hero>
            <section>
                <h2 class="section-title">Parcours</h2>
                <div class="content" style="text-align: justify;">
                    <p>
                        Mon parcours professionnel est varié. Je suis actuellement hôte de caisse chez Auchan, où je
                        développe mes compétences en service client et gestion financière depuis septembre 2023.
                    </p><br>
                    <p>
                        Pendant près de deux ans, de janvier 2022 à août 2023, j'ai été employé polyvalent chez
                        McDonald's, où j'ai appris la restauration rapide, la gestion du flux de travail, et la relation
                        client.
                    </p><br>
                    <p>
                        Entre mai et juin 2023, j'ai réalisé un stage chez
                        <a href="../work/projectspeedtandoori/">Speed Tandoori</a>, où j'ai développé le site web
                        du restaurant en mettant en valeur la cuisine indienne et l'ambiance du lieu. J'ai acquis des
                        compétences en développement web et en création de sites.
                    </p><br>
                    <p>De janvier à février 2024, j'ai effectué un <a href="../work/projetwebatheart/">stage chez Web At Heart</a>, contribuant à la création de
                        trois sites web pour la
                        <a href="https://mjc-villeurbanne.org/" target="_blank">MJC de Villeurbanne</a>,
                        <a href="https://digimentally.fr/" target="_blank">Digimentally</a>, et le
                        <a href="https://www.domainedemontclair.fr/" target="_blank">Domaine de Montclair</a>.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Formation</h2>
                <div class="content" style="text-align: justify;">
                    <p style="text-align: justify;">
                        Côté formation, je suis actuellement en deuxième année de BTS en Services informatiques aux
                        organisations avec une spécialisation en développement de solutions logicielles et applications
                        métiers. Avant cela, j'ai obtenu un baccalauréat avec mention en sciences et technologies du
                        management et de la gestion, avec une spécialisation en systèmes d’information de gestion.
                    </p>
                    <br>
                    <p>Dans l'ensemble, mon parcours professionnel et académique démontre ma polyvalence, ma capacité à
                        apprendre rapidement, et mes compétences dans des domaines variés, allant de la gestion au
                        développement de logiciels et à la création de sites web. Je suis toujours ouvert aux
                        opportunités de développement professionnel et à l'acquisition de nouvelles compétences.</p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Compétences</h2>
                <div class="content" style="text-align: justify;">
                    <p>En tant que développeur, je maîtrise les langages de programmation tels que Angular, Java,
                        Laravel et
                        C#,
                        ce qui me permet de créer des solutions informatiques efficaces. J'utilise GIT pour gérer
                        l'évolution
                        de mes projets, et je suis compétent dans des frameworks tels que Laravel et Angular pour
                        développer
                        des applications web interactives.</p>
                    <p>Ma formation en management, droit, économie et système d'information m'apporte une compréhension
                        solide des principes de gestion des services informatiques. Ma démarche logique, ma réflexion
                        stratégique et mon autonomie sont des atouts qui me permettent de mener à bien des projets de
                        développement.</p>
                    <p>Mon objectif est de continuer à élargir mes compétences et de contribuer à des projets
                        informatiques
                        innovants.</p>
                </div>
            </section>
        </main>
        <ContactCTA/>
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    .image-container {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        text-align: justify;
    }

    .image-container img {
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: underline solid transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }
    }
</style>
